@import "~bulma/sass/utilities/_all";

$variable-columns: false;
// $primary: #8c67ef;
$primary: #3273dc;
$primary-invert: findColorInvert($primary);
$dark: #3a4651;
$dark-invert: findColorInvert($dark);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$dropdown-item-hover-background-color: #fff;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma/bulma";
@import "~bulma-extensions/bulma-divider/src/sass/index";
@import "~bulma-extensions/bulma-tooltip/src/sass/index";

// bulma wrapper
@media screen and (max-width: 768px) {
  .section {
    padding: 3rem .5rem;
  }
}

.title {
  font-size: 1.6rem;
}

.navbar {
  &.is-border-top {
    border-top: solid .1em $dark;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    &.is-dark {
      &.is-desktop-border-left {
        border-left: solid .01em $white;
      }
    }
  }
}
.navbar-burger {
  margin-left: 0;
}

.breadcrumb {
  &.is-admin {
    padding: 1rem;
    background:$white;
    margin-bottom: 0;
  }
}
.dropdown {
  &.is-fullwidth {
    width: 100%;

    & > .dropdown-menu {
      width: 100%;
    }
  }
  &.is-block {
    display: block;
  }
}

table.table {
  &.is-dark-header {
    & > thead > tr > th {
      background-color: $dark;
      color: $dark-invert;
    }
  }
}
@media screen and (max-width: 768px) {
	.table.has-mobile-cards thead { display: none }
	.table.has-mobile-cards tfoot th { border: 0; display: inherit }
	.table.has-mobile-cards tr { box-shadow: 0 2px 3px hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.1); max-width: 100%; position: relative; display: block }
	.table.has-mobile-cards tr td { border: 0; display: inherit }
	.table.has-mobile-cards tr td:last-child { border-bottom: 0 }
	.table.has-mobile-cards tr:not(:last-child) { margin-bottom: 1rem }
	.table.has-mobile-cards tr:not([class*=is-]) { background: inherit }
	.table.has-mobile-cards tr:not([class*=is-]):hover { background-color: inherit }
	.table.has-mobile-cards tr.detail { margin-top: -1rem }
	.table.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td { display: -ms-flexbox; display: flex; width: auto; -ms-flex-pack: end; justify-content: flex-end; text-align: right; border-bottom: 1px solid #f5f5f5 }
	.table.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td:before { content: attr(data-label); font-weight: 600; margin-right: auto; padding-right: .5em; text-align: left }
}

.tag:not(body) {
  &.is-admin {
    background-color: $danger;
    color: $white;
  }
  &.is-user {
    background-color: $info;
    color: $white;
  }

  &.is-client__client-type__all {
    background-color: $danger;
    color: $white;
  }
  &.is-client__client-type__proposal_only {
    background-color: $info;
    color: $white;
  }
  &.is-client__client-type__personnel_only {
    background-color: $success;
    color: $white;
  }


  &.is-schedule-mail__target__condition {
    background-color: $success;
    color: $white;
  }
  &.is-schedule-mail__target__selection {
    background-color: $info;
    color: $white;
  }

  &.is-schedule-mail__status__waiting {
    background-color: $warning;
    color: $black;
  }
  &.is-schedule-mail__status__sending {
    background-color: $info;
    color: $white;
  }
  &.is-schedule-mail__status__completed {
    background-color: $success;
    color: $white;
  }
}
.button {
  background-color: $white;
}

.pagination {
  .pagination-previous, .pagination-next, .pagination-link:not(.is-current) {
    background-color: $white;
  }
}

.column {
  &.is-p-t-point-25-rem {
    padding-top: .25rem;
  }
  &.is-p-b-point-25-rem {
    padding-bottom: .25rem;
  }
}

// Image
.image {
  &.is-circle > img {
      border-radius: 50%;
  }
}