
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

@import "_variables";
@import "_bulma";
@import "_util";

// app
.logo {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

body {
  background: rgb(250, 253, 255);
}


.is-sidebar-menu {
  background: $dark;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 16.66666667%;

  &.is-active {
    display: block !important;
  }
  &.is-active + .column > .is-main-content {
    min-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .is-sidebar-menu {
    width: 66.66666667%;
  }
}

// $navbar-height: 3.25rem;
$navbar-height: 3.35rem;

.columns.is-fullheight {
  min-height: calc(100vh - #{$navbar-height} );
  max-height: calc(100vh - #{$navbar-height} );
  height: calc(100vh - #{$navbar-height} );
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 0 !important;

  & > .column {
    overflow-y: auto;


    .menu-title {
      color: #fff;
      font-size: 1rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      padding: 1rem;
      border-bottom: solid 1px;
      margin-bottom: 0;
    }

    .menu {
      .menu-label {
        padding: .5rem 1rem;
        margin-bottom: 0;
        color: lightgray;
      }
      ul.menu-list {
        li {
          &.is-active > a {
            background-color: $primary;
          }
          & > a {
            padding: .8rem .5rem .8rem 1.5rem;
            color: whitesmoke;
  
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}


.item-title {
  font-weight: bold;
  color: $dark;
  padding: .3rem 0;
  margin-bottom: 1.5rem;
  &.is-border-line {
    border-bottom: solid .2rem lighten($dark, 50%);
    position: relative;

    &:after {
      position: absolute;
      content: " ";
      display: block;
      border-bottom: solid .2rem $dark;
      bottom: -3px;
      width: 20%;
    }
  }
}

// page
// invoce
// create or edit
.invoice-create, .invoice-edit, .estimate-create, .estimate-edit {
  .prices-box {
    dt {
      color: $dark;
      font-weight: bold;
      float: left;
      clear: left;
      margin-right: 0.5em;
      width: 5rem;
    }
    dd {
      float: right;
      margin-left: 1em;
    }
  }
}